<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="/home">NovaLiving<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
            </ul>

              <!-- Search Bar -->
              <form class="d-flex ms-auto me-3" action="/shop" method="GET" role="search">
                <div class="input-group">
                    <input 
                        class="form-control" 
                        type="search" 
                        placeholder="Search products..." 
                        aria-label="Search" 
                        name="query" 
                        style="background-color: white; color: black;"
                    >
                    <button 
                        class="btn" 
                        type="submit" 
                        style="background-color: white; color: black; border: 1px solid lightgray;"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            

            <ul class="navbar-nav mb-2 mb-md-0">
                <!-- User Profile Link with Dropdown -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img src="images/user.svg" alt="User Icon" width="24">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>

                        <li>
                            <a class="dropdown-item" href="/wishlist">
                                Wishlist
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="/logout">Logout</a>
                        </li>
                    
                    </ul>
                </li>
            </ul>
            
            
            
                <!-- Cart Icon -->
                <li class="nav-item">
                    <a class="nav-link" href="/cart"><img src="images/cart.svg" alt="Cart Icon" width="24"></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist">
                        <i class="fa-regular fa-heart" style="font-size: 24px; color: white; padding-top: 10px;"></i>
                    </a>
                </li>
                
            </ul> 
        </div>
    </div>
</nav>



<% if (breadcrumbs && breadcrumbs.length > 1) { %>
    <nav aria-label="breadcrumb" style="background-color: #3b5d50;">
      <div class="container py-2">
        <ol class="breadcrumb mb-0">
          <% breadcrumbs.forEach((crumb, index) => { %>
            <% if (index === breadcrumbs.length - 1) { %>
              <li class="breadcrumb-item active" aria-current="page"><%= crumb.name %></li>
            <% } else { %>
              <li class="breadcrumb-item"><a href="<%= crumb.link %>"><%= crumb.name %></a></li>
            <% } %>
          <% }); %>
        </ol>
      </div>
    </nav>
  <% } %>
  
