<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="/home">NovaLiving<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-md-0">
                <!-- User Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/user.svg" alt="User Icon" width="24">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
                <!-- Cart Icon -->
                <li class="nav-item">
                    <a class="nav-link" href="cart.html"><img src="images/cart.svg" alt="Cart Icon" width="24"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if (breadcrumbs && breadcrumbs.length > 1) { %>
    <nav aria-label="breadcrumb" style="background-color: #3b5d50;">
        <div class="container py-2">
            <ol class="breadcrumb mb-0">
                <% breadcrumbs.forEach((crumb, index) => { %>
                    <% if (index === breadcrumbs.length - 1) { %>
                        <li class="breadcrumb-item active"><%= crumb.name %></li>
                    <% } else { %>
                        <li class="breadcrumb-item"><a href="<%= crumb.link %>"><%= crumb.name %></a></li>
                    <% } %>
                <% }); %>
            </ol>
        </div>
    </nav>
<% } %>
