<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/admin"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="/admin"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
         
       
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="fa-solid fa-chart-line"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

           <!-- Users List -->


          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/users">
              <span class="menu-icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span  class="menu-title"> Users</span>
              <i class="menu-arrow"></i>
            </a>
            
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/categories"> <!-- Adjusted href path -->
              <span class="menu-icon">
                <i class="fa-solid fa-list"></i>
              </span>
              <span class="menu-title">Categories</span>
            </a>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/Products">
              <span class="menu-icon">
                <i class="fa-solid fa-shop"></i>
              </span>
              <span class="menu-title">Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/orders">
              <span class="menu-icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </span>
              <span class="menu-title">Orders</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/stock">
              <span class="menu-icon">
                <i class="fa-solid fa-tag"></i>
              </span>
              <span class="menu-title">Stocks</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/coupon">
              <span class="menu-icon">
                <i class="fa-solid fa-ticket"></i>
              </span>
              <span class="menu-title">Coupon</span>
              <i class="menu-arrow"></i>
            </a>
          
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
      
        </ul>
      </nav>